params {
  // Default parameter values
  readDIR = "/data/sequencing/spikeins_xi"
  outDIR = "/data/general/spikeins_xi_results"
  threads = 4
  docker_image = "spikein-analysis"
  apptainer_image = "file://spikein-analysis.sif"
  target = "v4"
  spikein_metadata = "spikein_xi_metadata.csv"
  
  // cutadapt
  cutadapt_minlen = 100
  sequencer       = 'nextseq' // sequencer used
  allowed_errors  = 0

  // dada
  maxEE           = 2

  // Whether to run the alignment script (not working currently and not
  // fixed because we're trying to detect exact spikeins right now).
  should_align_to_reference = false
}

process {
  queueSize = 8
}


profiles {
  docker {
    conda.enabled           = false
    docker.enabled          = true
    docker.userEmulation    = true
    apptainer.enabled       = false
    process.container       = params.docker_image
  }
}
