params {
  // Default parameter values
  readDIR = "/data/sequencing/SpikeIns-10_26_2023"
  outDIR = "results"
  threads = 4
  docker_image = "spikein-analysis"
  apptainer_image = "file://spikein-analysis.sif"
  target = "v4"
  
  // cutadapt
  cutadapt_minlen = 100
  sequencer       = 'nextseq' // sequencer used
  allowed_errors  = 0
}

process {
  queueSize = 8
}


profiles {
  docker {
    conda.enabled           = false
    docker.enabled          = true
    docker.userEmulation    = true
    apptainer.enabled       = false
    process.container       = params.docker_image
  }
}
